.Introduction {
  background-color: darkblue;
  color: saddlebrown;
}

.h1-intro {
  color: fuchsia;
}

.container-col {
  background-color: red;
}

.label {
  color: white;
  font-size: 300;
}

.infos-container {
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 1240px;
  display: flex;
  width: 100%;
  column-gap: 50px;
}

@media (max-width: 576px) {
  .container {
    width: 200%;

    display: block;
  }

  .infos-container {
    display: block;
  }

  .logement-page{
        width: 90%;

  }


}
