.Introduction {
  background-color: darkblue;
  color: saddlebrown;
}

.h1-intro {
  color: fuchsia;
}

.container-col {
  background-color: red;
}

.label {
  color: white;
  font-size: 300;
}

.infos-container {
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 1240px;
  display: flex;
  width: 100%;
  column-gap: 50px;
}

.infos-location {
  color: #ff6060;
  display: flex;
  flex-wrap: wrap;
  font-family: "Montserrat";
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    row-gap: 20px;
    display: flex;
    flex-direction: column;
  }

  .infos-container {
    display: block;
  }

  .logement-page {
    width: 90%;
  }

  .infos-location {
    font-size: 14px;
    font-style: normal;
    line-height: 142.6%; /* 19.964px */
  }
}
