* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}


.nom {
  color: #ff6060;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: bolder;
  width: 100px;
  padding: 20px;
}

@media (max-width: 576px) {
  .nom {
    font-size: 12px;
    padding: 0;
    width: 80px;
    text-align: right;
  }

  .infos-alt {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 24px;
    padding-bottom: 20px;
    justify-content: space-between;
    
  }

  .infos-generic{


  }

  .root{
    width: 90%;
  }
}
