.stars-groupe{
    display: flex;
    column-gap: 10px;
    margin-left: 25px;
}

@media (max-width: 576px){
    .stars-groupe{
        align-items: center;
        margin-left: inherit;
    }
  
    .full-star{
        width: 20px;
    }
}