.container-cards {
  background-color: rgb(30, 219, 61);
  max-width: 1240px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 50px;
  position: relative;

}

.cards {
  max-width: 1240px;
  width: 100%;
  background-color: saddlebrown;
  width: calc(33.33% - 10px);

  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.img-cards {
  width: 340px;
  height: 340px;
  border-radius: 10px;
  background-color: firebrick;
}

.text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 20px;
  width: 500;
  font-size: 18px;
  font-family: "monserat"
}
