.tags-container {
  display: flex;
  column-gap: 10px;
}

.tag-container {
  background-color: #ff6060;
  border-radius: 10px;
  margin-bottom: 20px;
  
  
}

.tag {
  padding-inline: 30px;
  padding-block: 3px;
  color: white;
  font-weight: bolder;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: bold;
}


@media (max-width: 576px){
  .tags-container{
   height: 30%;
  }
}