body {
  /* background-color: aqua; */
}

h1 {
  color: #ff6060;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 5px;
}

.cardTest {
  width: 200px;
  height: 200px;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.747));
}

.container-cards {
 max-width: 1240px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    /* background-color: #f7f7f7; */
    border-radius: 25px;
    margin-top: 40px;
    /* padding-bottom: 20px; */
    background: #f6f6f6;
    padding: 50px;
    column-gap: 60px;
    width: 100%;
    row-gap: 50px;
  /* background-image: linear-gradient(to bottom right, #919191, #0000ff); */
  /* object-fit: cover; Assurez-vous que l'image remplit le conteneur */
}

@media (max-width: 576px){

  .App {
    width: 90%;
  }

  .container-cards { 
    padding: inherit;
  }
  .infos-title{
    font-size: 18px;    
    width: 37%;
    margin-right: 20%;
  }


  .container-cards{
  background-color: white;
  }
}