.container-footer {
  background-color: black;
  max-width: 1440px;
  width: 100%;
  display: flex;
  padding: 50px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  height: 209px;
}

.logo-kasa {
  color: red;
}

.text-kasa {
  color: white;
  size: 24px;
  font-family: "Montserrat";
  display: flex;
  align-items: center;
  justify-content: center;
}
